@font-face {
    font-family: 'FluidSans';
    src: url('./font/FluidSans-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'dmsans';
    src: url('./font/DMSans-Regular.ttf') format('truetype');
}

body{
  background-color: rgb(12, 134, 210);
}
.my-header h1 {
  background-color: gray;
  color: hsl(161, 51, 51);
  padding: 40;
  position: relative;
  font-family: 'FluidSans';
}

.my-header img {
  float: left;
  width: 100px;
  height: 75px;
  background: #555;
}

.chameleon {
  background-color: mediumseagreen;
  color: white;
  width: 300px;
  font-family: 'FluidSans'
}

@font-face {
  font-family: 'FluidSans';
  src: url('./font/FluidSans-Regular.ttf') format('truetype')
}

.dmsans {
  font-family: 'FluidSans';
  word-wrap: break-word;
  width: 400px;
  border: 3px solid #737373;
  color: white
}

#div-0 { 
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid; 
}
#div-1 { 
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
}
#div-2 { 
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
}
#div-3 { 
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  
}
